<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  backupGlobals="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  testdox="true"
  cacheResult="true"
  cacheDirectory=".var/cache/phpunit/.phpunit.cache">
  <coverage>
    <report>
      <clover outputFile=".var/cache/phpunit/cov.xml" />
      <text outputFile="php://stdout" />
    </report>
  </coverage>
  <testsuite name="main">
    <directory>tests</directory>
  </testsuite>
  <logging />
  <source>
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">app</directory>
    </include>
  </source>
</phpunit>

